<h2 class="text-center">Submission Details</h2>
<div class="row">
    <div class="col-sm-1">&nbsp;</div>
    <div class="col-sm-5">
        <div class="form-group">
          <label for="accountid">Account Id:</label>
          <label class="form-control">{{submission.accountid}}</label>
        </div>
        <div class="form-group">
          <label for="expirydate">Expiry Date:</label>
          <label class="form-control">{{submission.expirydate}}</label>
        </div>
        <div class="form-group">
          <label for="applicantemail">Applicant Email:</label>
          <label class="form-control">{{submission.applicantemail}}</label>
        </div>
        <div class="form-group">
          <label for="city">City:</label>
          <label class="form-control">{{submission.city}}</label>
        </div>
        <div class="form-group">
          <label for="domicilestate">Domicile State:</label>
          <label class="form-control">{{submission.domicilestate}}</label>
        </div>
        <div class="form-group">
          <label for="underwriter">Underwriter</label>
          <label class="form-control">{{submission.underwriter}}</label>
        </div>
        <div class="form-group">
            <label for="submissionrecdate">Submission Recd Date</label>
            <label class="form-control">{{submission.submissionrecdate}}</label>
          </div>
    </div>
    <div class="col-sm-5">
      <div class="form-group">
        <label for="inceptiondate">Inception Date:</label>
        <label class="form-control">{{submission.inceptiondate}}</label>
      </div>
      <div class="form-group">
          <label for="applicantname">Applicant Name:</label>
          <label class="form-control">{{submission.applicantname}}</label>
        </div>
      <div class="form-group">
        <label for="state">State:</label>
        <label class="form-control">{{submission.state}}</label>
      </div>
      <div class="form-group">
          <label for="zip">Zip:</label>
          <label class="form-control">{{submission.zip}}</label>
        </div>
      <div class="form-group">
        <label for="natureofops">Nature of Ops</label>
        <label class="form-control">{{submission.natureofops}}</label>
      </div>
      <div class="form-group">
          <label for="mgcis">MGCIS</label>
          <label class="form-control">{{submission.mgcis}}</label>
        </div>
    </div>
    <div class="col-sm-1">&nbsp;</div>
</div>
<div class="row">
    <div class="col-sm-1">&nbsp;</div>
    <div class="col-sm-11">
      <button class="btn btn-success" (click)="generateQuote()">Generate Quote</button>
    </div>
</div>